{% extends 'base.html.twig' %}


{% block body %}

    <div class="d-flex justify-content-center">
        <form class="form-signin text-center" action="{{ path('login') }}" method="post">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal"><strong>Please sign in to continue</strong></h1>
            {% if error %}
                <p style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" id="username" name="_username" class="form-control login-input" placeholder="Username" required="" autofocus="" value="{{ last_username }}" autocomplete="off">
            <label for="_password" class="sr-only">Password</label>
            <input type="password" id="password" name="_password" class="form-control login-input" placeholder="Password" required="">
            <button class="btn btn-lg btn-secondary btn-block" type="submit">Sign in</button>
        </form>
    </div>

{% endblock %}