{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'class': 'px-4 py-3', 'href': path('comment_new')  } }) }}
    {{ form_widget(form) }}
    <button class="btn btn-success float-right btn-comment-send">{{ button_label|default('Send') }}</button>
{{ form_end(form) }}