ul.dropdown-menu {
    background-color: #343a40;
}
ul.dropdown-menu:hover {
    background-color: #343a40;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #343a40;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #343a40;
}

/* COMMENT DROPDOWN */

.dropdown-comment {
    width: 400px;
    /*height: auto;*/
}

.dropdown-menu-cart {
    padding: 0;
}