// assets/css/global.scss

// customize some Bootstrap variables
//$primary: darken(#428bca, 20%);

@import "~bootstrap/scss/bootstrap";
@import "dropdown.css";
@import "autocomplete.css";
@import "login.css";
@import "navbar.css";
@import "alert.css";
@import "~toastr/toastr.scss";

.main-container {
  margin-top: 20px;
  margin-bottom: 120px;
}

body {
  margin-bottom: 40px;
}

.hoverable {
  cursor: pointer;
}

// DATATABLES
a.paginate_button {
  // override font-color here.
}

.pagination {
  justify-content: center;
}
.page-link {
  color: black;
}

.page-item.active .page-link {
  background-color: #343a40;
  border-color: black;
}
a.paginate_button.current {
  // override current page button styling here.
}




