ul.dropdown-menu {
    background-color: #343a40;
}
ul.dropdown-menu:hover {
    background-color: #343a40;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #343a40 !important;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #343a40 !important;
}

/* COMMENT DROPDOWN */

.dropdown-comment {
    width: 400px;
    /*height: auto;*/
}

.dropdown-menu-cart {
    padding: 0 !important;
}

/* DROPDOWN CARRET TURN */

.caret {
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

.rotate-180 {
    transform: rotate(-180deg);
}
