{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1 class="form-inline">
        <a href="{{ path('product_index') }}" class="btn btn-outline-secondary back-button"><i class="fa fas fa-arrow-left"></i></a>
        Create new Product
    </h1>

    {{ include('product/_form.html.twig') }}

{% endblock %}